<html>
<head>
<title>TäffäAPI</title>
</head>
<body>
	<h1>Täffä API</h1>

	<p>This API serves the current menu for the lunch restaurant at Teknologforeningen.</p>

	<h2>Usage:</h2>

	<p>Use http to get the menu. The address is defined as:</p>
        <p>http://{{ hostname }}/taffa/{language}/{URI}/</p>

        <p>Possible languages are:</p>
        <ul>
                <li>sv</li>
                <li>fi</li>
                <li>en</li>
        </ul>

	<h2> API endpoints </h2>
    <p>View the full API documentation <a href="/apidocs" target="_blank">here</a>.</p>
	
</body>
</html>